@import './mixin';

.icon {
  display: inline-block;
  vertical-align: middle;
}

.ellipsis {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
}

.ellipsis-2,
.ellipsis-3 {
  display: flex;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.ellipsis-3 {
  -webkit-line-clamp: 3;
}
